@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat-Medium";
    src: url("../public/fonts/Montserrat-Medium.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat-Semi-Bold";
    src: url("../public/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("../public/fonts/Montserrat-Bold.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat-Extra-Bold";
    src: url("../public/fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat-Extra-Light";
    src: url("../public/fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-display: swap;
  }
}






.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 25%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}


.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}



.wishlist-img:hover + .wishlist-btn,
.wishlist-btn:hover {
  display: inline-block;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ant-menu-item,
.ant-menu-submenu-title {
  /* background: green; */
}

.ant-menu-title-content {
  color: black;
}

.ant-menu-submenu-arrow {
  display: none;
}

.ant-tabs-tab-btn{
  font-weight:160 !important ;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media only screen and (min-width: 600px) {
.item-description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.wishlist-btn {
  display: none;
}

.wishlist-btn:hover {
  display: inline-block;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


}

@media only screen and (max-width: 600px) {
.item-name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.wishlist-btn{
  display: none;
}

.wishlist-img:hover + .wishlist-btn,
.wishlist-btn:hover  {
  display: none;
}

.normal{
  /* color:red !important; */
  transition-property: color;
  /* transition-delay: 1s; */
  transition-duration: .5s;
  transition-timing-function:linear;
}

.dcn{
  color:blue !important;
}


}




/* antd */
.ant-tabs-nav-list{
  background-color: #F2F2F2 !important;
}
.ant-tabs-card .ant-tabs-tab-btn {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: 20px;
  /* margin-top: 10px !important; */
}

@media only screen and (max-width: 576px) {
  .ant-tabs-card .ant-tabs-tab-btn {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    /* margin-top: 10px !important; */
  }
}
.ant-tabs-tab {
  border: none !important;
  background-color: #F2F2F2 !important;
}
.ant-tabs-tab:first-child{
  margin-top: 10px !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363636 !important;
  font-weight: 500;
}
.mobile-tab.ant-tabs-card .ant-tabs-tab-btn {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  font-size: 14px;
}
.ant-tabs-nav .ant-tabs-nav-more {
  display: none !important;
}


